body {
  margin: 0;
  background: #fff;
  font-family: sans-serif;
  scroll-behavior: none;
  background: rgb(2, 2, 2);
}



.accordions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 50vw;
  /* background: linear-gradient(120deg, #5c2fa6 13.57%, #5a36c0 98.38%); */
  background: rgb(25, 34, 39);
  overflow: visible;
}

.accordion-item {
  background: rgb(25, 34, 39);
  padding: 15px;
  position: relative;
  border-bottom: 1px solid rgb(74, 83, 87);
  z-index: 100;

}

.accordion-title {
  font-size: 18px;
  line-height: 1;
  color: white;
}

.accordion-text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
}

/* .accordion-item:nth-child(2) {
  background: linear-gradient(200deg, #f28885 13.57%, #e94f66 98.38%);
}

.accordion-item:nth-child(3) {
  background: linear-gradient(200deg, #65bb76 13.57%, #466fab 98.38%);
}

.accordion-item:nth-child(4) {
  background: linear-gradient(200deg, #c215d1 13.57%, #9813a1 98.38%);
} */

.spacer {
  height: 70vh;
}

.accordion-heading {
  font-size: 40px;
  margin: 0 0 20px;
  line-height: 1;
}

.accordion-content {
  height: 0;
  opacity: 0;
  margin: 0
}

.object-span {
  background: #5a36c0;
  display: block;
  height: 30px;
  width: 30px;
}

.accordion-object {
  position: relative;
  width: 300px;
}

.accordion-object:before {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background: rgb(74, 83, 87);
  top: 14px;

}