<html>

<head>
  <link rel="stylesheet" href="../styles/accordion.css " />
</head>

<body>

  <div id="wrapper">
    <div id="content">
      <div class="spacer"></div>
      <div class="accordions">
        <div class="accordion-item">

          <div class="accordion-title">
            All-screen design.
          </div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
        <div class="accordion-item">

          <div class="accordion-title"> Beauty all around.</div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading,lf in whatever you’re reading,lf in whatever you’re
              reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
        <div class="accordion-item">

          <div class="accordion-title">Take Center Stage.</div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies likmmerse yourself in whatever you’re reading, watching, or
              creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
        <div class="accordion-item">

          <div class="accordion-title">Pretty everywhere.</div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>

  <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>

  <script src="https://assets.codepen.io/16327/ScrollSmoother.min.js"></script>

  <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>


  <script src="../scripts/accordion.js"></script>
</body>

</html>