<html>

<head>
  <link rel="stylesheet" href="../styles/accordion.css " />
</head>

<body>

  <div id="wrapper">
    <div id="content">
      <div class="spacer"></div>
      <div class="accordions">
        <div class="accordion-item">

          <div class="accordion-title">
            All-screen design.
          </div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
        <div class="accordion-item">

          <div class="accordion-title"> Beauty all around.</div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading,lf in whatever you’re reading,lf in whatever you’re
              reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
        <div class="accordion-item">

          <div class="accordion-title">Take Center Stage.</div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies likmmerse yourself in whatever you’re reading, watching, or
              creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
        <div class="accordion-item">

          <div class="accordion-title">Pretty everywhere.</div>
          <div class="accordion-content">
            <div class="accordion-text">
              <div class="accordion-heading">
                A joyful modeling experiencethat prepares you for scale.
              </div>
              <div class="accordion-object">
                <span class="object-span"></span>
              </div>
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              Lets you immerse yourself in whatever you’re reading, watching, or creating. The 10.9-inch Liquid Retina
              display features advanced technologies like True Tone, P3 wide color, and an antireflective coating.1
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>

  <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>

  <script src="https://assets.codepen.io/16327/ScrollSmoother.min.js"></script>

  <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>


  <script>

    /*------------------------------
Register plugins
------------------------------*/
    gsap.registerPlugin(ScrollTrigger, ScrollSmoother)


    /*------------------------------
    Init ScrollSmoother
    ------------------------------*/


    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: '.accordions',
        pin: true,
        start: 'top top',
        end: '+=5000',
        scrub: 1,
        ease: 'linear',
      }
    })


    tl.to('.accordion-item', {
      stagger: 1,
      autoAlpha: 1
    }, '<')
    tl.to('.accordion-content', {
      height: 300,
      stagger: 1,
      autoAlpha: 1, marginTop: 20
    }, '<')
    tl.to('.object-span', {
      x: 300,
      stagger: 1,
    }, '<')


    tl.to('.accordion-item .accordion-text', {
      stagger: 1,
      scale: .75,
      autoAlpha: 0
    }, 1)
    tl.to('.accordion-content', {
      height: 0,
      stagger: 1,
      marginTop: 0
    }, 1)



  </script>
</body>

</html>